database_foreach_paralle_batchprocess/src/main/mule/database_foreach_paralle_batchprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7c5177ab-25ad-4e05-8efd-e0a40c08cc0d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="9546fda9-90de-49bc-8500-48642cb58352" >
		<db:oracle-connection host="localhost" user="system" password="System123" serviceName="orcl" />
	</db:config>
	<flow name="database_foreach_paralle_batchprocessFlow" doc:id="1d024e52-aa1a-485e-8947-2c4bc859b108" >
		<http:listener doc:name="Listener" doc:id="e7176f62-db83-4c88-b410-1dc35746811e" config-ref="HTTP_Listener_config" path="/database"/>
		<ee:transform doc:name="Transform Message" doc:id="2820dd6f-b18b-4bd0-b2c5-c64e24762543" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 100 map
{
	"orderId": if($$ == 3) "mulesoft" else 200 + $$ ,
	"orderName": "iphone",
	"orderStatus": "active"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="database_foreach_paralle_batchprocessBatch_Job" doc:id="1fc231be-231e-4080-8855-b2e5c0aabf71" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="b9262fb6-cb71-4961-814d-4d95b56e551a" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="9e7aa19d-9a14-48f9-a0a6-0ce6071909fd" size="25">
						<logger level="INFO" doc:name="Logger" doc:id="828aab2f-1187-4ea5-814c-b0aabd54d064" message="#[payload]" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="03716e2a-b01a-40f7-95c2-e4dc8434509f" config-ref="Database_Config1">
							<db:sql ><![CDATA[INSERT INTO sql.order (orderId,orderName,orderStatus)
VALUES (:orderId,:orderName,:orderStatus)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="8ce870da-a6f6-4b65-806b-4300171cd2f4" >
			<logger level="INFO" doc:name="Logger" doc:id="828aab2f-1187-4ea5-814c-b0aabd54d064" message="helo world" />
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="881f61c3-4b0b-42b5-9f8e-81d177ff4e45" message="welcome to mulesoft"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
